@model Contact
@{
    ViewBag.Title = "Создание нового контакта";
}
<h4>Введите данные по новому контакту:</h4>
<form method="post" action="/Home/Create" class="role">
    <div class="form-group">
        <label for="family-name">Фамилия: </label>
        <input class="form-control" id="family-name" type="text" name="familyName" autofocus required />
    </div>
    <div class="form-group">
        <label for="first-name">Имя:</label>
        <input class="form-control" id="first-name" type="text" name="name" required />
    </div>
    <div class="form-group">
        <label for="middle-name">Отчество</label>
        <input class="form-control" id="middle-name" type="text" name="middleName" />
    </div>
    <div class="form-group">
        <label for="phone-number">Телефон: </label>
        <input class="form-control" id="phone-number" type="text" name="phoneNumber" required />
    </div>
    <div class="form-group">
        <label for="address">Адрес:</label>
        <input class="form-control" id="adress" type="text" name="adress" required />
    </div>    
    <div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>    
</form>
